# CHRONS VORON2 300mm SKR 1.3 TMC2208 UART config

# *** THINGS TO CHANGE/CHECK: ***
# MCU paths                         [mcu] section
# Thermistor types                      [extruder] and [heater_bed] sections - See 'sensor types' list at end of file
# FSR switch (z endstop) location       [homing_override] section
# FSR switch (z endstop) offset for Z0  [stepper_z] section
# Probe points                          [quad_gantry_level] section
# Min & Max gantry corner postions      [quad_gantry_level] section
# PID tune                              [extruder] and [heater_bed] sections
# Fine tune E steps                     [extruder] section

# ========================== Pin Definitions ==========================
# X_STEP_PIN         2.2
# X_DIR_PIN          2.6
# X_ENABLE_PIN       2.1
# X_MIN_PIN          1.29
# X_MAX_PIN          1.28
# X_UART_RX          1.17
# X_UART_TX          4.29

# Y_STEP_PIN         0.19
# Y_DIR_PIN          0.20
# Y_ENABLE_PIN       2.8
# Y_MIN_PIN          1.27
# Y_MAX_PIN          1.26
# Y_UART_RX          1.15
# Y_UART_TX          1.16

# Z_STEP_PIN         0.22
# Z_DIR_PIN          2.11
# Z_ENABLE_PIN       0.21
# Z_MIN_PIN          1.25
# Z_MAX_PIN          1.24
# Z_UART_RX          1.10
# Z_UART_TX          1.14

# E0_STEP_PIN        2.13
# E0_DIR_PIN         0.11
# E0_ENABLE_PIN      2.12
# E0_UART_RX         1.8
# E0_UART_TX         1.9

# E1_STEP_PIN        0.1
# E1_DIR_PIN         0.0
# E1_ENABLE_PIN      0.10
# E1_UART_RX         1.1
# E1_UART_TX         1.4

# HE1                2.4    
# HE0                2.7
# BED                2.5
# TH1 (H1 Temp)      0.25
# TH0 (H0 Temp)      0.24
# TB  (Bed Temp)     0.23
# FAN                2.3
# SERVO              2.0
# =====================================================================


[force_move]
enable_force_move: True

[mcu]
#	mcu for X/Y/E steppers main MCU
#	[X in X] - B Motor
#	[Y in Y] - A Motor
#	[E in Z] - Extruder
#	obtain definition by "ls -l /dev/serial/by-path/" then unplug to verify
serial: /dev/serial/by-path/platform-3f980000.usb-usb-0:1.1.2:1.0 

[mcu z]
#	mcu for Z steppers
#	[Z in X] - Front Left
#	[Z1 in Y] - Rear Left
#	[Z2 in Z] - Rear Right
#	[Z3 in E0]- Front Right
#	obtain definition by "ls -l /dev/serial/by-path/" then unplug to verify
serial: /dev/serial/by-path/platform-3f980000.usb-usb-0:1.1.3:1.0

[printer]
kinematics: corexy
max_velocity: 350
max_accel: 4000
max_z_velocity: 50
max_z_accel: 350
#   The maximum velocity (in mm/s) that the toolhead may travel a 90
#   degree corner at. A non-zero value can reduce changes in extruder
#   flow rates by enabling instantaneous velocity changes of the
#   toolhead during cornering. This value configures the internal
#   centripetal velocity cornering algorithm; corners with angles
#   larger than 90 degrees will have a higher cornering velocity while
#   corners with angles less than 90 degrees will have a lower
#   cornering velocity. If this is set to zero then the toolhead will
#   decelerate to zero at each corner. The default is 5mm/s.
#square_corner_velocity: 10.0


#
# 	TMC2208 UART Section for x/y
#

[stepper_x]
#connected to X on mcu_xye (B Motor)
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
step_distance: 0.0125
endstop_pin: P1.29
position_min: 0
position_endstop: 305
position_max: 305
homing_speed: 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2208 stepper_x]
uart_pin: P1.17
microsteps: 16
run_current: 1.0
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 250

[stepper_y]
#connected to Y on mcu_xye (A Motor)
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
step_distance: 0.0125
endstop_pin: P1.27
position_min: 0
position_endstop: 305
position_max: 305
homing_speed: 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2208 stepper_y]
uart_pin: P1.15
microsteps: 16
run_current: 1.0
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 250
 
#
# 	TMC2208 UART Section for z 
#

#Z MCU - IN X
# Z0 Stepper - Front Left
[stepper_z]
step_pin: z:P2.2
dir_pin: !z:P2.6
enable_pin: !z:P2.1
step_distance: 0.00250
endstop_pin: z:P1.25
#   Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
#   (+) value = endstop above Z0, (-) value = endstop below
position_endstop: -0.5
position_max: 280
position_min: -5
homing_speed: 15.0
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2208 stepper_z]
uart_pin: z:P1.17
microsteps: 16
interpolate: False
run_current: 1.0
hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 50

#Z MCU - IN Y
# Z1 Stepper - Rear Left
[stepper_z1]
step_pin: z:P0.19
dir_pin: z:P0.20
enable_pin: !z:P2.8
step_distance: 0.00250


[tmc2208 stepper_z1]
uart_pin: z:P1.15
microsteps: 16
interpolate: False
run_current: 1.0
hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 50

#Z MCU - IN Z
# Z2 Stepper - Rear Right
[stepper_z2]
step_pin: z:P0.22
dir_pin: !z:P2.11
enable_pin: !z:P0.21
step_distance: 0.00250

[tmc2208 stepper_z2]
uart_pin: z:P1.10
microsteps: 16
interpolate: False
run_current: 1.0
hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 50

#Z MCU - IN E0
# Z3 Stepper - Front Right
[stepper_z3]
step_pin: z:P2.13
dir_pin: z:P0.11
enable_pin: !z:P2.12
step_distance: 0.00250

[tmc2208 stepper_z3]
uart_pin: z:P1.8
microsteps: 16
interpolate: False
run_current: 1.0
hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 50

#
#	bed heater, extruder and nozzle heater
#

#Z on MCU X/Y
[extruder]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
# 16 microsteps -m3 0.001875
step_distance: 0.00180180
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: P2.5
sensor_type: NTC 100K beta 3950
sensor_pin: P0.24
smooth_time: 3.0
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 170
max_extrude_only_distance: 1150
max_extrude_cross_section: 9999
# PA can be disabled by declaring a 0.0 value
pressure_advance: 0.0
# time seconds to look ahead for PA moves default is 0.010 or 10ms
#pressure_advance_lookahead_time: 0.010
control = pid
pid_kp = 26.213
pid_ki = 1.304
pid_kd = 131.721

#Z on MCU X/Y
[tmc2208 extruder]
uart_pin: P1.10
microsteps: 16
run_current: 1.0
hold_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 5


[probe]
# Inductive Probe
# Z height probe. One may define this section to enable Z height
# probing hardware. When this section is enabled, PROBE and
# QUERY_PROBE extended g-code commands become available. The probe
# section also creates a virtual "probe:z_virtual_endstop" pin. One
# may set the stepper_z endstop_pin to this virtual pin on cartesian
# style printers that use the probe in place of a z endstop.
pin: !z:P1.24
#   Z_MAX on mcu_z
x_offset: 0
#   Offset (in mm) for inductive probe Y direction from nozzle
y_offset: 25.0
z_offset: 0
#   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
speed: 10.0
samples: 4
#   How far to retract (in mm) from the probe point for multi-probe samples
sample_retract_dist: 3.0
samples_tolerance: 0.100
#   The maximum Z distance (in mm) that a sample may differ from other
#   samples. If this tolerance is exceeded then either an error is
#   reported or the attempt is restarted (see
#   samples_tolerance_retries). The default is 0.100mm.
samples_tolerance_retries: 3
#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance. On a retry, all current samples are discarded
#   and the probe attempt is restarted. If a valid set of samples are
#   not obtained in the given number of retries then an error is
#   reported. The default is zero which causes an error to be reported
#   on the first sample that exceeds samples_tolerance


#
#	Fan control
#

[fan]
# print cooling fans
pin: P2.4
#max_power: 0.5
kick_start_time: 0.5
cycle_time: 0.001

[heater_fan hotend_fan]
pin: P2.7
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#fan_speed: 1.0

#[heater_fan controller_fan]
# Controller fan
pin: z:P2.7
kick_start_time: 0.500
heater: heater_bed
heater_temp: 45.0

[heater_fan exhaust_fan]
pin: z:P2.4
#max_power: 1.0
#shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
#fan_speed: 1.0

[heater_bed]
heater_pin: z:P2.5
sensor_type: NTC 100K MGB18-104F39050L32
#pullup_resistor: 5500
sensor_pin: z:P0.25
smooth_time: 3.0
max_power: 1.0
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[idle_timeout]
timeout: 1800



[homing_override]
axes: z
set_position_z: 0
gcode:
   G90
   G0 Z5 F600
   G28 X Y
   #   XY Location of the FSR Switch
   G0 X202 Y305 F3600 
   G28 Z
   G0 Z10 F1800
   G0 X150 Y150 Z30 F3600

   
[quad_gantry_level]
#   Use QUAD_GANTRY_LEVEL to level a gantry.
#   Min & Max gantry corners - measure from nozzle at MIN (0,0) and MAX (300,300) to respective belt positions
gantry_corners:
	-55,-7
	355,370
#   Probe points
points:
	60,60
	60,240
	240,240
	240,60
	#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
speed: 100
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5
horizontal_move_z: 10
#   number of times to retry if the stepper movements aren't within tolerance
retries: 5
#   if retries are enabled then retry if any z_stepper movement was greater
#   than the retry_tolerance
retry_tolerance: 0.0075
#   Saftey limit if an ajustment greater than this value is requested
#   quad_gantry_level will abort.
max_adjust: 10


#	BED_MESH_CALIBRATE
[bed_mesh]
speed: 200
horizontal_move_z: 10
min_point: 20,20
max_point: 280,280
probe_count: 5,5
fade_start: 0.5
fade_end: 25.0
split_delta_z: .01
move_check_distance: 3
mesh_pps: 0,0
algorithm: bicubic
relative_reference_index: 12


#[display]
# RepRapDiscount 128x64 Full Graphic Smart Controller
#lcd_type: st7920
#cs_pin: z:P1.19
#sclk_pin: z:P1.20
#sid_pin: z:P1.18
#   LCD connector on mcu_z
#menu_timeout: 40
#   Timeout for menu. Being inactive this amount of seconds will exit the menu
#   Default is 0 seconds (disabled)
#encoder_pins: ^z:P3.26, ^z:P3.25 
#click_pin: ^!z:P0.28
#kill_pin: ^!z:

# "mini12864 LCD Display
#lcd_type: uc1701
#cs_pin: P1.18
#a0_pin: P1.19
#encoder_pins: ^P3.26,^P3.25
#click_pin: ^!P0.28
#contrast: 63

#[neopixel my_neopixel]
#pin: P1.21
#chain_count: 3
#initial_RED: 0.1
#initial_GREEN: 0.5
#initial_BLUE: 0.0


###   Macros   ###

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28
    G0 X150 Y150 Z20 F6000
   
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    G28                            ; home all axes
    G1 Z20 F3000                   ; move nozzle away from bed
   

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X125 Y250 F3600            ; park nozzle at rear
    BED_MESH_CLEAR
    

[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E750 F1800                  ; quickly load filament to down bowden
   G1 E30 F300                    ; slower extrusion for hotend path
   G1 E15 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-780 F1800                 ; retract filament completely
   M82                            ; set extruder to absolute

[gcode_macro quad_me]
gcode:
	BED_MESH_CLEAR
	G28
	quad_gantry_level
	G28
	quad_gantry_level
	G28
	quad_gantry_level
	G28
	
# Sensor Types
#   "EPCOS 100K B57560G104F"
#   "ATC Semitec 104GT-2"
#   "NTC 100K beta 3950"
#   "Honeywell 100K 135-104LAG-J01"
#   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
#   "AD595"
#   "PT100 INA826"
